.todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 500px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto; 
    margin-top: auto; 
  }


  li {
      text-decoration: none;
  }