#inputfeld {
    position: relative; 

}

.todo {
    background: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 3px gray;
    margin-bottom: 6px;
    padding: 6px 35px;
    max-width: 450px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  span {
    color: gray;
    float: right;
    font-size: 15px;

}

.c {
    padding: 2px 9px;
    font-size: 20px;
    float: right;
    height: 30px;
 }
 
 .x {
     padding: 2px 9px;
     font-size: 20px;
     height: 30px;
     float: right;
 }
 
 
 
 .c:hover {
     background-color: rgb(39, 209, 209);
 }
 
 .x:hover {
     background-color: red;
 }

