* {
    margin: 0;
    padding: 0; 
}

.c {
   padding: 2px 3px;
   border-radius: 10px;
   margin-left: 10px; 
}

.x {
    padding: 2px 3px;
    border-radius: 10px;
    font-size: 14px;
}

.kb {
    width: 12px;
      height: 12px;
}

.c:hover {
    background-color: rgb(12, 240, 12);
}

.x:hover {
    background-color: red;
}

.k {
    padding: 2px 3px;
   border-radius: 10px;
}

.k:hover {
    background-color: gray;
}



.app {
    background-color: rgba(43, 42, 51, 1);
    height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 400px;
    padding: 10px;
  }
  
  .todo {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 3px gray;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 6px 35px; 
    font-family: Arial, Helvetica, sans-serif;
  }

  .b {
      width: 12px;
      height: 12px;
  }

  