.c {
    padding: 2px 9px;
    font-size: 20px;
    float: right;
    background-color: aqua; 
    height: 30px;
 }
 
 .x {
     padding: 2px 9px;
     font-size: 20px;
     height: 30px;
     float: right;
     background-color: rgb(223, 79, 79);
 }
 
 
 
 .c:hover {
     background-color: rgb(39, 209, 209);
 }
 
 .x:hover {
     background-color: red;
 }

 .b {
    width: 12px;
    height: 12px;
}

.hnzü {
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;    
}

.hnzü:hover {
    background-color: rgb(223, 217, 217);
}